* {
    box-sizing: border-box;
    background-color: #A8D0E6;
    text-decoration: none;
    overflow-wrap: normal;
    scroll-padding-top: 70px;
}

p{
    background-color: transparent;
    margin: 0;
}

a {
    width: fit-content;
}

iframe {
    border: 0;
}

th, td {
    padding: 5px 10px 5px 5px;
    border: 1px solid #374785;
    background-color: transparent;
}

tr:nth-child(odd) {
    background-color: #dddd;
    color: black;
}
tr:nth-child(odd) a {
    color: black;
}
tr:nth-child(even) {
    background-color: #24305E;
    color: #dddd;
}
tr:nth-child(even) a {
    color: #dddd;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: #24305E;
}

li {
    background-color: transparent;
    margin-left: 20px;
    padding: 5px;
}

.main {
    font-family: 'Oswald', sans-serif;
}

.text {
    font-family: 'Open Sans', sans-serif;
}

.header {
    margin: 20px 5px 10px 5px;
    font-size: x-large;
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;
    width: 70px;
    margin-left: 20px;
}

.title {
    color: #24305E;
    margin: 5px 10px 5px 20px;
}

.clickable{
    background-color: transparent;
}
.clickable:hover {
    color: #F76C6C;
}

.nav .main{
    display: flex;
    justify-content: space-between;
    margin: 0 90px 40px 90px;
    font-size: 20px;
}

.button {
    padding: 10px 60px;
    transition-duration: 0.4s;
    color: #374785;
}
.button:active {
    color: #F8E9A1;
}

.current {
    background-color: #F76C6C;
    color: #F8E9A1;
}
.current:hover {
    color: #374785;
}

.page {
    display: flex;
    margin: 0 70px 0 70px;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.inner-page {
    padding: 30px;
}

.iframe-div {
    margin-right: 20px;
}

.featured-div {
    display: flex;
    justify-content: space-between;
    background-color: #24305E;
}

.featured-text-div {
    display: flex;
    align-items: center;
    width: 100%;
}

.article {
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 100%;
    padding-bottom: 20px;
    width: 100%;
    align-items: center;
}

.contained {
    width: auto;
}
.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F76C6C;
    color: #F8E9A1;
    height: 70px;
    font-size: 40px;
    padding: 10px;
    width: 100%;
}

.movie-title {
    font-size: 70px;
    color: #374785;
}

.highlight {
    width: 100%;
    background-color: #F8E9A1;
    padding: 0 20px 0 20px;
}

.big-link {
    font-size: 30px;
    color: #24305E;
}

.movie-snaps-div {
    display: flex;
    background-color: #374785;
    justify-content: space-around;
    align-items: center;
}

.movie-img-grid-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: transparent;
}

.movie-img-grid-div > .mov-img-div {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 30px;
    border: 5px solid #24305E;
    background-color: #24305E;
    transition-duration: 0.4s;
}

.tiny-img-div {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.tiny-img-div > .reg-img{
    border: none;
}

.hidden {
    display: flex;
    background-color: #24305E;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 25px;
    color: #F8E9A1;
    opacity: 0;
    transition-duration: 0.4s;
}
.hidden:hover {
    opacity: 0.9;
}

.mov-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.mov-img:hover {
    opacity: 0.1;
}

.little-link {
    color: #F8E9A1;
}

.reg-img {
    object-fit: cover;
    width: 100%;
    border: 7px solid #24305E;
    background-color: transparent;
}

.me {
    display: flex;
    align-items: center;
    background-color: #374785;
    justify-content: space-around;
    width: 30%;
}

.ratings {
    display: flex;
    /*background-color: #24305E;*/
    background-color: #374785;
}

.about {
    display: flex;
    background-color: #F8E9A1;
    width: 70%;
}

#header-line {
    margin: 0 90px 0 90px;
    height: 10px;
    background-color: #F8E9A1;
    border: none;
}

.description{
    background-color: #374785;
    height: 100%;
    color: #dddd;
    line-height: 1.6;
    padding: 20px 35px 35px 35px;
}

.u-list {
    display: flex;
    background-color: #F8E9A1;
    width: 100%;
}

.u-list .text {
    display: flex;
    width: 100%;
    padding: 10px 20px 10px 20px;
    margin: 0;
}

.o-list {
    background-color: transparent;
}

.white-txt-link {
    color: #A8D0E6;
}

.space {
    width: 100%;
    padding: 20px 100px 20px 100px;
    text-align: center;
    background-color: #F8E9A1;
}

.bigger-heading {
    text-align: left;
}

.table {
    border-collapse: collapse;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.table-div {
    background-color: #374785;
}

.explanation-div {
    display: flex;
    background-color: #24305E;
    justify-content: space-between;
}

.category-div {
    display: flex;
    margin: 20px 0 20px 0;
    padding: 20px;
    background-color: #374785;
    color: #dddd;
}

.category-div > .highlight {
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    color: black;
}

.paragraph-div {
    margin: 0 20px 0 20px;
    background-color: transparent;
}

.paragraph-div .description {
    padding-top: 0;
}

.paragraph-div > h3 {
    background-color: transparent;
    margin: 0;
}

